<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<h3>JavaScript</h3>
		<div class="row">
			<div class="col-lg-6">
				<div class="dialog-editor invisible" data-target="return">
					&lt;orly-leftnav active="home"> &lt;orly-nav-item label="Home"
					name="home 1 &lt; 2" href="index.html" icon="home">&lt;/orly-nav-item>
					&lt;orly-nav-item label="Layout" name="layout"
					href="layout.html">&lt;/orly-nav-item> &lt;orly-nav-item
					label="Navigation" labelm="NAV" name="navigation"
					href="navigation.html"> &lt;orly-nav-item label="Left Navigation"
					name="left_navigation" href="#left">&lt;/orly-nav-item>
					&lt;/orly-nav-item> &lt;/orly-leftnav>
				</div>
				<span class="small">(Live Editor)</span>
			</div>
			<div class="col-lg-6">
				<iframe src="iframe_table.html" frameborder="0" id="return"></iframe>
				<p class="text-center">
					<button class="btn btn-outline-secondary replay">
						Replay
					</button>
					<button class="btn btn-outline-secondary resize">
						Resize
					</button>
				</p>
			</div>
		</div>
	</div>
</div>

















