<div id="contentHeader"></div>
<div id="ex-1" class="row ex">
	<div class="col-12">
		<div class="row example">
			<div class="col-sm-7">
				<label>JavaScript</label>
				
<!-- ---------------------------- EXAMPLE 1 ---------------------------- -->				
<textarea placeholder="Add JavaScript Here" class="d-none">
var letters = 'abc';
print("letters: " + letters);

var greeting = "Hello world."
print("greeting: " + greeting);

// We can use the single quote within a string if we like:
var sentence = "Who's on first?";
print("sentence: " + sentence);

// We can use double quotes within a string if we like:
var sentence = '"Where\'s the beef?", said the woman.';
print("sentence: " + sentence);
// Notice that we need to escape the single quote if we use it inside of the string

// We can use double quotes within a string that is wrapped with double quotes:
var sentence = "\"Where's the beef?\", said the woman.";
print("sentence: " + sentence);
// Notice that we need to escape the double quote if we use it inside of the string
</textarea>

<!-- ---------------------------- EXAMPLE 2 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var lineOneAndTwo = "line one\nline two";
var lineOneAndTwoHTML = "line one<br/>line two";
console.log(lineOneAndTwo);
alert("line 1\nline2");
print(lineOneAndTwoHTML);
// Since we are printing to a div element, we need to use the break
// tag to write to a new line.
</textarea>

<!-- ---------------------------- EXAMPLE 3 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Strings are concatenated with +
var result = "Hello " + "world!"; 	// = "Hello world!"
print("result: " + result);

// which works with more than just strings
// we can add strings with Arrays
var result = "Hello " + ["world", "!"];	// = "Hello world,!"
print("result: " + result);

// Be careful when working with concatenation
// sometimes you need parenthesis to evaluate expressions properly
var result = "1==1" + 1 == 1;
print("result: " + result);

// 1==1 expression written properly
var result = "1==1 " + (1 == 1);
print("result: " + result);
</textarea>

<!-- ---------------------------- EXAMPLE 4 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// Simply wrap your string with back ticks
var literal = `string text`;
print(literal);

// Escaping - you can use single quote and double quote anywhere in the string. 
var sentence = `"Where's the beef?", said the woman.`;
print("sentence: " + sentence);

// Concatenating - we no longer need to concatenate strings and variables with
// the plus sign. Instead, we can use ${variable_name} 
print(`sentence: ${sentence}`);

// Multiline - when using a template literal, spaces new lines are preserved.
var sentence = ` line 1     :)
line 2  .`;
alert(`sentence: ${sentence}`);
print(`<pre>sentence: ${sentence}</pre>`);
</textarea>

<!-- ---------------------------- EXAMPLE 5 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">

// You can perform comparisons with Strings
var result = "a" < "b"; 
print(`result ("a" < "b"): ${result}`);
// Since "a" (97) has a smaller ascii code value than b (98), 
// it is evaluated to be smaller (true). 

var result = "a" < "A"; 
print(`result ("a" < "A"): ${result}`);
//Since "a" (97) has a higher ascii code value than A (65), 
//it is evaluated to be larger (false).

var result = "Zebra" < "ape"; 
print(`result ("Zebra" < "ape"): ${result}`);
// The value of Zebra is evaluated to be less than ape because the 
// string are evaluated in Lexicographic order - meaning that upper
// case letters have a lower ascii value than lower case letters.
</textarea>

<!-- ---------------------------- EXAMPLE 6 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// You can access characters in a string with .charAt(index)
var sentence = `"Where's the beef?", said the woman.`;
var charIndex = sentence.charAt(1);
print(`charIndex: ${charIndex}`);
</textarea>

<!-- ---------------------------- EXAMPLE 7 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
// We can call the method substring() to grab one or more characters within a string
var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 13));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 14));

var sentence = `"Where's the beef?", said the woman.`;
print(sentence.substring(13, 17));
// Note: The second parameter is not inclusive

</textarea>

<!-- ---------------------------- EXAMPLE 8 ---------------------------- -->
<textarea placeholder="Add JavaScript Here" class="d-none">
var sentence = `"Where's the beef?", said the woman.`;
print(sentence.length);

var index = sentence.indexOf(",");
var quote = sentence.substring(0, index);
print(`quote.length: ${quote.length}`);
</textarea>


<!-- ---------------------------- END OF EXAMPLES ---------------------------- -->
				<div>
					<button class="btn btn-success float-right" onclick="runJS();">
						Run
					</button>
				</div>
				
<!-- 				<div>
					<button class="btn btn-success float-right" onclick="run('console1', 'output1');">
						Run
					</button>
				</div> -->
			</div>			
			<div class="col-sm-5">
				<label>Output</label>
				<div class="bordered" id="output"></div>
			</div>
		</div>
	</div>
</div>
