<head>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>HTML Examples</title>
</head>

<!-- Load the JS and CSS required for the application -->
<script>
	window.addEventListener('DOMContentLoaded', (event) => {
		
/*		document.write("<!-- Bootstrap import -->\n");
		document.write("<link rel='stylesheet' href='"+baseUrl+"/resources/css/oreillybs-4.0.0r1.min.css' />\n");
		document.write("\n");
		document.write("<!-- Examples import -->\n");
		document.write("<link rel='stylesheet' href='"+baseUrl+"/resources/css/examples.css' />\n");
		document.write("\n");
		document.write("<!-- Project CSS import -->\n");
		document.write("<link type='text/css' href='"+baseUrl+"/resources/css/master.css' rel='stylesheet' />\n");
		document.write("\n");
		document.write("<!-- O'Reilly hyperHTML JS -->\n");
		document.write("<script src='<script src='"+baseUrl+"/resources/js/oreillyjs/1.1.40/orly.js' />'\n");
		document.write("\n");
		document.write("<!-- Week 3 Day 1 JS -->\n");
		document.write("<script src='"+baseUrl+"/js/w3d1.js' />'\n");
		hello(); */
		var getUrl = window.location;
		var baseUrl = getUrl .protocol + "//" + getUrl.host + "/" + getUrl.pathname.split('/')[1];
		
		function loadjscssfile(filetype, filename){
		    if (filetype=="js"){ //if filename is a external JavaScript file
		        var fileref=document.createElement('script');
		        fileref.setAttribute("src", filename);
		    }
		    else if (filetype=="css"){ //if filename is an external CSS file
		        var fileref=document.createElement("link");
		        fileref.setAttribute("rel", "stylesheet");
		        fileref.setAttribute("type", "text/css");
		        fileref.setAttribute("href", filename);
		    }
		    
		    if (typeof fileref!="undefined") {
		    	document.getElementsByTagName("head")[0].appendChild(fileref);
		    } else {
		    	
		    }
		}
		
		loadjscssfile("css", baseUrl+'/resources/css/oreillybs-4.0.0r1.min.css');
		loadjscssfile("js", baseUrl+'/week3/day1/js/w3d1.js');
		
		setTimeout(function () {
			hello();
	    }, 500);
	});
</script>