body {
	padding: 5px 5px;
}
code, pre {
	background-color: #aaa;
}
.includeStuff {
	box-sizing: border-box;
}
textarea {
  resize: both;
  overflow: auto;
  width: 100%;
}
.example {
	/* border: thin lightgrey solid; */
	min-height: 200px;
	width: 100%;
	padding: 5px;
}
.bordered {
	border: thin lightgrey solid;
	min-height: 200px;
	width: 100%;
	padding: 5px;
}
label {
	margin-left: auto;
	margin-right: auto;
	text-align: center !important;
	display: block;
	color: blue;
}
h4 {
	color: #009d57 !important;	
}
hr {
	width: 100%;
	border: 1px solid #0000ff;
}
.go-button {
 	padding: 3px 8px 3px 8px;
	margin-top: -5px;
}
.go-input {
	width: 75px;
}
orly-icon {
	color: white !important;
}